table{
    /* border: 1px solid #000; */
    border-collapse: collapse;
    width: 100%;
}

/* celdas */
table td{
    border: 1px solid #000;
    padding: 20px;
}

/* Filas */
table tr:hover{
    background-color: #ccc;
}

table td:hover{
    background-color: #000;
    color: #fff;
}