/* El contenedor en este caso seria el div */
div{
    background-color: rgb(109, 124, 192);
    width: 100%;
}

img{
    /* Se puede hacer el width para que el heigh sea automatico */
    width: 300px;
    /* Margin auto nos permite centrar un contenedor con display-block */
    margin: auto;
    display: block;
    /* Para redondear los bordes de la imagen */
    border-radius: 20%;
    /* Para darle la sombra */
    /* box-shadow: 5px 5px #767070; */

    /* Agregar margen interno y un borde efecto retrato */
    padding: 10px;
    border: 1px solid #CCC;
}